@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap");

body {
  padding-top: 5rem;
  color: black;
  background: linear-gradient(rgb(179, 233, 168), rgb(62, 100, 55)) no-repeat
    center center fixed;
  background-size: cover;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
